<div class="container">
    <mat-toolbar>
        <span>Crear nuevo almuerzo</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="agregarPago()">
            <mat-grid-list cols="5" rowHeight="75px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <div class="mb-3">
                        <label class="form-label">Monto del Pago</label>
                        <input type="number" class="form-control" formControlName="monto_pago"
                            placeholder="Solo numeros">
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="4">
                    <img [src]="fotoUrl" width="250" height="250">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <div class="mb-3">
                        <label class="form-label">Elija una Foto</label>
                        <input class="form-control" type="file" accept="image/*" formControlName="img_pago" required>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="2">
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary"
                        style="margin-right: 10px;">Aceptar</button>
                    <button routerLink="/comedor/pagos" mat-raised-button color="warn">Cancelar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>