<div class="container-2">
    <mat-toolbar>
        <span>Bienvenido {{nombreUser}}</span>       
    </mat-toolbar>
    <mat-toolbar>
        <span>Comedor</span>
        <span class="example-spacer"></span>
        <span>Lista de Almuerzos de: {{mesActual}}</span>
    </mat-toolbar>
</div>

<div class="container-2">
    <div class="row">
        <div class="col-sm-6">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Lunes 03 de abril de 2023
                        </mat-panel-title>
                        <mat-panel-description>
                            Esta fecha ya tiene almuerzos seleccionado
                            <mat-icon style="color:green">check_circle</mat-icon>
                            <mat-icon style="color:red">cancel</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Grille de pollo c/ pure de papas</mat-list-item>
                        <mat-list-item role="listitem">Grille de pollo c/ arroz con queso</mat-list-item>
                        <mat-list-item role="listitem">Asado a la olla c/ pure de papas</mat-list-item>
                        <mat-list-item role="listitem">Asado a la olla c/ arroz con queso</mat-list-item>
                    </mat-list>
                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-sm-6">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Lunes 03 de abril de 2023
                        </mat-panel-title>
                        <mat-panel-description>
                            Esta fecha ya tiene almuerzos seleccionado
                            <mat-icon style="color:green">check_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Grille de pollo c/ pure de papas</mat-list-item>
                        <mat-list-item role="listitem">Grille de pollo c/ arroz con queso</mat-list-item>
                        <mat-list-item role="listitem">Asado a la olla c/ pure de papas</mat-list-item>
                        <mat-list-item role="listitem">Asado a la olla c/ arroz con queso</mat-list-item>
                    </mat-list>
                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>