<div class="container">
    <mat-toolbar>
        <span>Crear Usuario</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <h1 style="text-align: center; padding-top: 10px;">Abril</h1>
        <!-- [formGroup]="form" (ngSubmit)="agregarUsuario()" -->
        <form [formGroup]="form" (ngSubmit)="agregarPlatoMensual()">
            <mat-grid-list cols="4" rowHeight="75px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Elegir la fecha</mat-label>
                        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker"
                            formControlName="fechaAlmuerzo" required>
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Seleccionar Almuerzo</mat-label>
                        <mat-select formControlName="nombrePlato" required>
                            <mat-option *ngFor="let plato of platos"
                                [value]="plato.id_almuerzo">{{plato.nombre_almuerzo}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary"
                        style="margin-right: 10px;">Aceptar</button>
                    <button routerLink="/dashboard/horarios" mat-raised-button color="warn">Cancelar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>