<div class="container">
    <mat-toolbar>
        <span>Crear Usuario</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <!-- [formGroup]="form" (ngSubmit)="agregarUsuario()" -->
        <form >
            <mat-grid-list cols="5" rowHeight="75px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre Usuario</mat-label>
                        <input matInput autocomplete="off" formControlName="userName" required>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="4">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Elija una fecha</mat-label>
                        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="fecha">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                        <!--[dateClass]="dateClass"-->
                      </mat-form-field>
                    
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre" required>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Apellido</mat-label>
                        <input matInput autocomplete="off" formControlName="apellido" required>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Seleccionar Colegio</mat-label>
                        <mat-select formControlName="colegio" required>
                            <mat-option *ngFor="let colegios of colegios"
                                [value]="colegios.nombreColegio">{{colegios.nombreColegio}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary" style="margin-right: 10px;">Aceptar</button>
                        <button routerLink="/dashboard/horarios" mat-raised-button color="warn">Cancelar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>