<mat-toolbar color="primary">
    <span>Comedor</span>

    <span class="example-spacer"></span>

    <span> Bienvenido a la Cocina</span>

    <span class="example-spacer"></span>
    <img src="./assets/img/majoyyo.jpg" style="width: 40px; border-radius: 50%;">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>settings</mat-icon>
    </button>

    <button routerLink="/login" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
    </button>

</mat-toolbar>