<div class="container">
    <mat-toolbar>
        <span>Crear nuevo almuerzo</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <!--  [formGroup]="form" (ngSubmit)="agregarUsuario()"  -->
        <form [formGroup]="form" (ngSubmit)="agregarAlmuerzo()">
            <mat-grid-list cols="5" rowHeight="75px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre del Almuerzo</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre_almuerzo" required>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="4">
                    <img src="./assets/img/login.png" width="250" height="250">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Descripción del Almuerzo</mat-label>
                        <input matInput autocomplete="off" formControlName="descripcion_almuerzo" required>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="2">
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary"
                        style="margin-right: 10px;">Aceptar</button>
                    <button routerLink="/dashboard/almuerzos" mat-raised-button color="warn">Cancelar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>